@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.mobile-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(25, 23, 101, 1);
  background-image: url("../img/shapes\ mobile\ menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 30px;
  visibility: hidden;
}

.mobile-menu-ul {
  margin-top: 80px;
}

.mobile-menu-ul a {
  color: #fff;
  margin: 15px 0;
  margin-left: 10%;
  display: block;
}

.menu-link {
  margin-left: 216px;
}


.mobile-menu-close {
  display: block;
  text-align: right;
  margin-right: 10%;
  margin-top: 10%;
}

.mobile-menu-li {
  margin-bottom: 20px;
}

.mobile-menu-a {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: 30px;
}

body {
  color: #f5f5ff;
  background: #191765;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-links {
  display: none;
}

.hero-container {
  background: url(../img/top\ circles.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 0;
}

.navbar {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f5f5ff;
}

@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7d73fc;
  font-size: 1.5rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero-description {
  width: 300px;
  margin: auto;
  color: #c8c8d4;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.line-01 {
  width: 300px;
  margin: 30px auto;
}

.home-text h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}

.line1 {
  height: 0;
  width: 350px;
  left: 0;
  top: 9px;
  border-radius: 10px;
  padding: 40px;
  margin: auto;
  overflow: hidden;
  justify-content: center;
}

.line-image {
  min-width: 80%;
  max-width: 70%;
}

.third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

/* .ellipse19 {
  left: 95% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("./img/Ellipse 19.png");
  position: absolute;
  width: 68px;
  height: 68px;
  top: 550px;
  filter: blur(25px);
} */

.list-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-technologiesss {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0 0 0 40px;
}

.languages {
  padding: 0 10px 10px 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  justify-content: center;
  color: #9490ff;
  letter-spacing: 0.05em;
  min-width: 30%;
}

.menu-language {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
  flex: none;
  padding: 0 20px 20px 0;
}

.Frameworks {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  color: #9490ff;
  font-style: normal;
  font-weight: 500px;
  font-size: 12px;
  line-height: 24px;
  margin: auto 0;
  justify-self: flex-start;
  padding: 15px 1rem 1rem 1rem;
  min-width: 30%;
}

.menu-frameworks {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
  margin: auto 0;
}

.Skills {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #9490ff;
  font-style: normal;
  font-weight: 500px;
  font-size: 12px;
  line-height: 24px;
  margin: auto 0;
  justify-self: flex-start;
  padding: 10px;
  min-width: 30%;
}

.menu-skills {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: grid;
  flex-direction: column;
  color: #f5f5ff;
  align-items: left;
  margin: auto 0;
  padding: 0 20px 20px 0;
}

.line2 {
  height: 0;
  width: 410px;
  left: opx;
  top: 9px;
  border-radius: 10px;
  padding: 40px;
  margin: auto;
  overflow: hidden;
  justify-content: center;
}

.socialmedia {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 20 0 0;
  padding: 5px;
  justify-content: center;
  color: #f5f5ff;
  column-gap: 0.5rem;
}

.socialmedia li a {
  margin-left: 10px;
}

.flesh-down {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.flesh-down-00 {
  display: none;
}

.flesh-down img {
  margin-right: 10px;
}

.My-Recent-Work {
  font-weight: 300;
  font-size: 35px;
  line-height: 45px;
  color: #9490ff;
  margin: 30px 30px;
}

hr {
  margin: 100px 20px;
}

.place-holder-img {
  width: 327px;
  height: 236px;
  background:
    linear-gradient(0deg, #f9f9f9, #f9f9f9),
    url(image_processing20200716-21735-f07s4k.png);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
  padding-left: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: url(../img/portfolio\ background\ shapes\ mobile@2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 150px;
}

.title-post h2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 350px;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  color: #fff;
  padding: 10px 0;
  margin: 20px 25px;
  margin-right: 24px;
}

.paragraph2 {
  font-family: "Roboto", serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;

  /* padding: 40px;
padding-left: 29px; */
  text-align: left;
  margin: 10px 24px;
}

.programming-languages {
  display: flex;
  align-items: center;
  padding-left: 18px;
  color: #f5f5ff;
  column-gap: 1.5rem;
  flex-direction: row;
}

.programming-languages li a {
  color: #fff;
}

.btn {
  color: #fff;
  padding: 25px 25px;
  border: 1px solid #9390ff;
  background-color: #9390ff;
  margin-left: 25px;
  width: 140px;
  margin-top: 40px;
  margin-bottom: 60px;

  /* align-self: left; */
}

.btn2 {
  padding: 12px 50px;
  background-color: #7d73fc;
  border: 1px solid #7d73fc;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #edecff;
  margin-top: 40px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn2:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.btn:focus,
.btn2:focus {
  background: #5e42d7;
}

/*.popup-window-container {
  Width: 100%;
  Height: 1176px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #050a38;
  margin: 5%;
  display: flex;
  justify-content: center;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
  }*/
  
.Multi-Post-stories {
  width: 1056px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;

/* or 80% */
display: flex;
align-items: left;

/* Theme 4 / Neutral 11 */
color: #FFFFFF;
}

.popup-window-close {
position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;
border: 2px solid #67798E;
align-items: right;
}

/*.model-img {
  border-radius: 20px;
  background: url(6ef9bca4fab80e71cf21d99f05);
  width: 100%;

}*/

.ellipse18 {
  position: absolute;
  width: 120px;
  left: -15px;
  top: 1px;
}

.thetitle {
  width: 81px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

input.invalid {
  border: 1px solid red;
}

.error-hint {
  color: red;
}

.contact-us {
  margin-bottom: 30px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 24px;
  color: #9390ff;
  text-transform: uppercase;
}

.paragraph3 {
  width: 327px;
  height: 105px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="email"] {
  outline: none;
  border: 1px solid #fff;
  margin: 15px 10px;
  width: 327px;
  height: 48px;
  padding: 5px;
}

input[type="text"],
input[type="email"],
:hover {
  outline: none;
}

textarea[type="text"] {
  width: 327px;
  height: 148px;
  margin: 15px 10px;
  padding: 5px;
}

textarea[type="text"]:hover {
  outline: none;
}

#first-name,
#last-name {
  display: none;
}

.section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  margin-bottom: 20px;
}

.social-icons li {
  margin-right: 10px;
}

.email-text {
  margin-bottom: 30px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: space-around;
  }

  .endnavbar {
    display: none;
  }

  .menu-link {
    margin-left: 216px;
  }

  .nav-links {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }

  .navlink {
    color: white;
    font-size: 14px;
    font-weight: bolder;
  }

  .mobile-menu-container {
    visibility: hidden;
    display: none;
  }

  .hero-container {
    background: url(../img/twocirclesheader.png);
    background-repeat: no-repeat;
  }

  .card {
    background: url(../img/Group\ 65@2x.png);
    background-size: 100%;
  }

  .hero-title {
    font-size: 50px;
  }

  .list-technologies {
    justify-content: center;
  }

  .languages {
    margin-top: 5px;
  }

  .Skills {
    margin-top: 14px;
  }

  .languages,
  .Frameworks,
  .Skills {
    min-width: 0;
  }

  .Skills-empty {
    display: none;
  }

  .flesh-down-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
  }

  .flesh-down-00 {
    display: inherit;
  }

  .project-card {
    display: flex;
    padding: 50px;
  }

  .place-holder-img {
    width: 80%;
    height: 400px;
  }

  .desktop-version-card-details-2 {
    order: -1;
  }

  .paragraph2 {
    width: 500px;
  }

  .paragraph3 {
    width: 40%;
  }

  #full-name {
    display: none;
  }

  .desktop-contact-input-fields {
    display: flex;
  }

  #first-name,
  #last-name {
    display: inherit;
  }

  #email,
  #Message {
    width: 95.5%;
  }

  .section-footer {
    flex-direction: row;
  }
}

